# Java
*.class
*.jar
*.war

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
backend/.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Uploads (runtime files)
uploads/
**/uploads/


# Logs
*.log

# Spring config files
application.yml
application.yaml

# Tüm servislerin yml dosyaları
**/application.yml
**/application.yaml

# IntelliJ / IDE build output
out/
**/out/

# Eclipse bin output (varsa)
bin/
**/bin/